version: '3'
# pour récupérer le mot de pass sudo docker logs deploy_scripts_mysqldb_1 2>&1 | grep "GENERATED ROOT PASSWORD"
services:

    mysqldb:
     image: mysql:latest          
     ports:
       - '3306:3306'     
     volumes:
       - db_data:/var/lib/mysql
     restart: always
     environment:
        MYSQL_ROOT_PASSWORD: ${DB_ROOT_PWD}
        MYSQL_DATABASE: db_darties
     networks:
       mysql_network:

volumes:
    db_data:
        driver: local
    
# Custom network so all services can communicate using a FQDN
networks:
    mysql_network: