version: '3'
# pour récupérer le mot de pass sudo docker logs deploy_scripts_mysqldb_1 2>&1 | grep "GENERATED ROOT PASSWORD"
services:

    mysqldb:
     image: mysql:latest
     container_name: mysqldb 
     ports:
       - '3306:3306'     
     volumes:
       - db_data:/var/lib/mysql
       - /usr/src:/usr/src
     restart: always
     environment:
        MYSQL_ROOT_PASSWORD: ${DB_ROOT_PWD}
        MYSQL_DATABASE: db_darties
     networks:
       mysql_network:
       
    tomcat:
     depends_on:
       - mysqldb    
     image: tomcat:latest
     user: root
     environment:
        TOMCAT_USERNAME: root
        TOMCAT_PASSWORD: ${TOMCAT_PWD}
        TOMCAT_ALLOW_REMOTE_MANAGEMENT: 1
     links:
       - mysqldb:mysql
     ports:
       - '80:8080'
     volumes:
       - /usr/src/tomcat:/bitnami
       - /usr/src/excel/ARCHIVE:/usr/src/excel/ARCHIVE
       - /usr/src/excel/A_TRAITER:/usr/src/excel/A_TRAITER
       - /usr/src/excel/EN_COURS:/usr/src/excel/EN_COURS
       - /usr/src/excel/EN_ERREUR:/usr/src/excel/EN_ERREUR
     networks:
       mysql_network:         
         
volumes:
    db_data:
        driver: local
    
# Custom network so all services can communicate using a FQDN
networks:
    mysql_network: